.workspace {
  .react-tabs {
    [role=tablist] {
      min-height: 32px;
    }
    width: 100%;
    height: 100%;
  }
  // box-sizing: border-box;
  // .pane {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex: 0 auto;
  //   border: 1px solid blue;
  // }
  // .pane-x {
  //   // flex-direction: column ;
  // }
  // .pane-y {
  //   // flex-direction: row;
  // }
  // * {
  //   box-sizing: border-box;
  // }
  // .handle {
  //   background: black;
  // }
  // .handle-axis-x {
  //   height: 100%;
  //   width: 2px;
  //   cursor: col-resize;
  // }
  // .handle-axis-y {
  //   width: 100%;
  //   height: 2px;
  //   cursor: row-resize;
  // }
  // .react-resizable {
  //   position: relative;
  // }
  // .react-resizable-handle {
  //   position: absolute;
  //   width: 20px;
  //   height: 20px;
  //   bottom: 0;
  //   right: 0;
  //   background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  //   background-position: bottom right;
  //   padding: 0 3px 3px 0;
  //   background-repeat: no-repeat;
  //   background-origin: content-box;
  //   box-sizing: border-box;
  //   cursor: se-resize;
  // }

  .Resizer {
      background: #000;
      opacity: .2;
      z-index: 1;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -moz-background-clip: padding;
      -webkit-background-clip: padding;
      background-clip: padding-box;
  }

   .Resizer:hover {
      -webkit-transition: all 2s ease;
      transition: all 2s ease;
  }

   .Resizer.horizontal {
      height: 11px;
      margin: -5px 0;
      border-top: 5px solid rgba(255, 255, 255, 0);
      border-bottom: 5px solid rgba(255, 255, 255, 0);
      cursor: row-resize;
      width: 100%;
  }

  .Resizer.horizontal:hover {
      border-top: 5px solid rgba(0, 0, 0, 0.5);
      border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  }

  .Resizer.vertical {
      width: 11px;
      margin: 0 -5px;
      border-left: 5px solid rgba(255, 255, 255, 0);
      border-right: 5px solid rgba(255, 255, 255, 0);
      cursor: col-resize;
  }

  .Resizer.vertical:hover {
      border-left: 5px solid rgba(0, 0, 0, 0.5);
      border-right: 5px solid rgba(0, 0, 0, 0.5);
  }
  Resizer.disabled {
    cursor: not-allowed;
  }
  Resizer.disabled:hover {
    border-color: transparent;
  }


}